<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>Home</title>
</head>
<body>
    <div class="Jumbotron">
        <h1 align="center" style="margin-top: auto;">Benvenuto, {{ user.username if user else 'ospite' }}!</h1>  
    </div>

    <div class="space-info">
        <h2 align="center">Persone nello Spazio</h2>
        <div id="space-content">
            {% if people %}
                <p>Ci sono {{ people|length }} persone nello spazio:</p>
                <ul>
                    {% for person in people %}
                        <li>{{ person.name }} ({{ person.craft }})</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Non ci sono persone nello spazio al momento.</p>
            {% endif %}
        </div>
    </div>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
